<footer class="footer arabic">
  <div class="container">
      <nav>
          <ul class="nav-flex-icons lg-show" style="margin-right: 25px;">
              <li>
                  <a href="https://www.facebook.com/groups/YOSB00K" target="_blank">
                      <i class="fab fa-facebook-square" style="color:#3b5998;font-size: 23px;margin-top: 3px;"></i>
                  </a>
              </li>
              <li>
                  <a href="#" target="_blank">
                      <i class="fab fa-instagram" style="color: #DD2A7B;font-size: 23px;margin-top: 3px;"></i>
                  </a>
              </li>
              <li>
                  <a href="#" target="_blank">
                      <i class="fab fa-twitter" style="color:rgba(29,161,242,1.00);font-size: 23px;margin-top: 3px;"></i>
                  </a>
              </li>
          </ul>
          <ul dir="rtl">
              <li>
                  <a routerLink="/home">
                      الرئيسية
                  </a>
              </li>
              <li>
                  <a routerLink="/public-un">
                      جامعات حكومية
                  </a>
              </li>
              <li>
                  <a routerLink="/privet-un">
                      جامعات خاصة
                  </a>
              </li>
              <li>
                  <a routerLink="/yos">
                      إمتحانات اليوس
                  </a>
              </li>
              <li>
                  <a routerLink="/sat">
                      السات
                  </a>
              </li>
              <li>
                  <a routerLink="/exams">
                      الإمتحانات التجريبية
                  </a>
              </li>
          </ul>
          <ul class="nav-flex-icons sm-show">
              <li>
                  <a href="https://www.facebook.com/groups/YOSB00K" target="_blank">
                      <i class="fab fa-facebook-square"></i>
                  </a>
              </li>
              <li>
                  <a href="https://www.instagram.com/cobanbeyticaretodasi/?igshid=t3m6jmo1mw1i" target="_blank">
                      <i class="fab fa-instagram"></i>
                  </a>
              </li>
              <li>
                  <a href="https://twitter.com/CobanbeyO" target="_blank">
                      <i class="fab fa-twitter"></i>
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright">
          &copy;
          {{data | date: 'yyyy'}}، موقع يوس بوك للخدمات الجامعية
      </div>
  </div>
</footer>
