<div class="col-md-11 center">
    <div class="container-fluid " style="margin-top:2%; margin-bottom: 5%;" dir="rtl">
        <h2 class="text-center arabic" style="margin-bottom:5%"> - الجامعات التي تقدم امتحان اليوس - </h2>
        <div class="col-md-6 arabic">
            <mat-form-field class="example-full-width arabic" appearance="outline" style="width: 100%;">
                <mat-label>ابحث هنا <i class="fas fa-search prefix"></i> </mat-label>
                <input placeholder="ابحث باسم الجامعة او بالرابط او بالمدينة..." matInput [(ngModel)]="searchText" type="search">
            </mat-form-field>
        </div>    
        <div class="row">
            <div class="col-md-3 mt-4 mb-4" *ngFor="let university of universities | filter:searchText; let i = index">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <img src="{{university.logo}}" width="75px" height="75px" class="center">
                            </div>
                            <div class="col-2">
                                <i *ngIf="calculateDiff(university.endDate) == 'Active'" style="color: green;" class="fa fa-circle fa-lg"></i>
                                <i *ngIf="calculateDiff(university.endDate) == '5_days'" style="color: #fb3;" class="fa fa-circle fa-lg"></i>
                                <i *ngIf="calculateDiff(university.endDate) == 'inactive'" style="color: #ff3547;" class="fa fa-circle fa-lg"></i>
                                <i *ngIf="calculateDiff(university.endDate) == 'khara'" style="color: gray;" class="fa fa-circle fa-lg"></i>
                            </div>
                        </div>
                        <div class="card-header-text">
                            <p class="center arabic" style="margin-top: 8%; text-align: center;">{{university.name}}</p>  
                            <p class="center arabic" style="margin-top: 1%; text-align: center;">{{university.nameTR}}</p>                                          
                        </div>
                    </div>
                    <div class="card-body text-right">
                        <div class="container-fluid">
                            <ul style="padding: 0%">
                                <li >
                                    <p class="arabic">المدينة : <span>{{university.city}}</span> </p>
                                </li>
                                <li >
                                    <h6 class=" arabic h6-responsive"> بدء التسجيل : {{university.startDate | date: 'dd/MM/yyyy'}} </h6>
                                </li>
                                <li >
                                    <h6 class=" arabic h6-responsive"> انتهاء التسجيل : {{university.endDate | date: 'dd/MM/yyyy'}}</h6>
                                </li>
                            </ul>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <a [routerLink]="['/yos-detail', university.id]" class="btn btn-primary btn-block arabic">صفحة الجامعة</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>