<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'true'" dir="rtl">
    <mdb-carousel-item dir="rtl">
        <div class="view w-100">
            <img  class="d-block w-100 img-sm" src="assets/yos/33.jpg" width="100%" alt="First slide">
        </div>
  
    </mdb-carousel-item>
  </mdb-carousel>

<div class="container" style="margin-top: 5%;">
    <div class="row arabic" dir="rtl" >
        <div class="col-md-5 col-10 center">
            <h1 class="h3-responsive mb-4" style="text-align: center;background: linear-gradient(100deg,#ffffff, #1BCCDD,#ffffff) scroll !important;">
               - تعريف امتحان اليوس ( YÖS ) :    
            </h1>
        </div>
        <div class="col-md-12 mb-4" dir="rtl" >
            <h5 class="h5-responsive" style="text-align: right;">
                هو امتحان القبول المخصص للطلاب الأجانب الراغبين في الدراسة بمؤسسات التعليم العالي لمرحلة البكلوريوس ( ليسانس ) في تركيا .<br>
                - الكثير من الجامعات التركية تطلبه أثناء التسجيل و الطلاب المتقدمين على هذا الامتحان لهم الأفضلية في القبول و خاصة للأفرع الطبية و الهندسية .<br>
                - الجهة المنظمة : الجامعات التركية نفسها بحيث تقوم كل جامعة بتنظيم امتحان اليوس الخاص بها وتحديد عدد الأسئلة والوقت حسب ارادة الجامعة ذاتها و تقوم بتخصيص عدد من الجامعات تقبل بالامتحان التابع لها و يمكن للطلاب أن يقدم على أكثر من امتحان في جامعات مختلفة .
            </h5>
        </div>
        <div class="col-md-5 col-10 ">
            <h1 class="h3-responsive mb-2" style="text-align: right;">
                - محتوى امتحان اليوس :  
            </h1>
        </div>
        <div class="col-md-10 mb-4" dir="rtl">
            <h5 class="h5-responsive" style="text-align: right;">
                يتكون فحص اليوس من اختبارين أساسيين وهما :<br>
                اختبار المهارات أو القدرات الأساسية ( IQ ) .<br>
                اختبار الرياضيات الجبرية والهندسية .<br>
                - عدد الاسئلة و الوقت المخصص :<br>
                معظم الجامعات تكون عدد الأسئلة 80 سؤالاً منهم 40 سؤالاً اختبار المهارات الأساسية IQ، و35 سؤالاً في الرياضيات الجبرية و 5 أسئلة في الهندسة و يختلف عدد الأسئلة و توزيعها باختلاف الجامعة .<br>
                يستغرق الاختبار بين الـ 90 دقيقة و الـ 120 دقيقة تختلف المدة باختلاف الجامعة .<br>
                
            </h5>
        </div>
        <div class="col-md-3 col-10 ">
            <h3 class="h3-responsive mb-2" style="text-align: right;">
                - الرسوم : 
            </h3>
        </div>
        <div class="col-md-10 mb-4" dir="rtl">
            <h5 class="h5-responsive" style="text-align: right;">
                تختلف رسوم الامتحان من جامعة إلى أخرى لكن تتراوح ى يتراوح سعر التسجيل للاختبار من 100 الى 300 ليرة تركية يتم دفعها عن طريق حوالة بنكية الى حساب الجامعة أو يمكن الدفع أون لاين أثناء التسجيل .
                   
            </h5>
        </div>
        <div class="col-md-5 col-10 ">
            <h1 class="h3-responsive mb-2" style="text-align: right;">
                - تاريخ الامتحان :
            </h1>
        </div>
        <div class="col-md-10 mb-4" dir="rtl">
            <h5 class="h5-responsive" style="text-align: right;">
                
                بين الشهر الثالث و الشهر السابع و كل جامعة تختلف عن الأخرى في موعد تقديم الامتحان       
            </h5>
        </div>
        <div class="col-md-5 col-10 ">
            <h1 class="h3-responsive mb-2" style="text-align: right;">
                - لغة الامتحان :
            </h1>
        </div>
        <div class="col-md-10 mb-4" dir="rtl">
            <h5 class="h5-responsive" style="text-align: right;">
                في بعض الجامعات تكون اللغة التركية و الإنكليزية فقط و الكثير من الجامعات تتوفر 5 لغات و هم ( التركية - الإنكليزية - العربية - الفرنسية - الروسية ) .  
            </h5>
        </div>
        <div class="col-md-5 col-10 ">
            <h1 class="h3-responsive mb-2" style="text-align: right;">
                - كيفية التسجيل على امتحان اليوس :
            </h1>
        </div>
        <div class="col-md-10 mb-4" dir="rtl">
            <h5 class="h5-responsive" style="text-align: right;">
                التسجيل يكون عن طريق الانترنت و تحديد لغة الامتحان و مركز الامتحان الذي تريده ( يوجد مراكز عديدة بدول مختلفة خارج تركيا ) .
                - قد تجري بعض الجامعات امتحاناً للغة التركية ضمن الفحص ذاته وعندها يعفى الطالب من اختبار اللغة عند التسجيل في الجامعة و علامة امتحان اللغة لا تُحسب مع علامة امتحان اليوس .
            </h5>
        </div>
    </div>
 
