<div class=" smolfooter" style="margin-top: 5%; padding-bottom: 5%;">
  <div class="col-md-4 center "> 
    <p class="arabic card-header animated bounceInLeft" style="margin-top: 2%; font-size: 28px; text-align: center;border-radius:20px ;">
      إعادة ضبط كلمة المرور
      </p>
      <div class="card-body">
        <form class="text-center border border-light p-5 animated bounceInRight bodyshadow" style="border-radius: 20px;" >
          <h5 style="margin-bottom: 3%;">من فضلك ادخل إيميل حسابك</h5>
          <input type="email" class="form-control mb-4" #passwordResetEmail placeholder="الايـمـيـل">
          <button class="btn btn-primary btn-block my-4" type="submit" (click)="authService.ForgotPassword(passwordResetEmail.value)">إرسال</button>
          <div class="forgotPassword">
            <a routerLink="/sign-in" style="color:rgb(0, 0, 0);">  العودة الى صفحة تسجيل الدخول </a>
          </div>
        </form>
      </div>
  </div>
</div>





<!-- 
<div class="container arabic">
    <div class="row" style="margin-top: 15%;text-align: center;">
        <div class="col-md-6 center animated bounceInUp">
            <h3 style="color: rgb(218, 167, 1);"> إعادة ضبط كلمة المرور </h3>
        </div>
    </div>
    <div class="row " style="margin-top: 5%;">
      <div class="col-md-6 center bodyshadow animated rubberBand " style="text-align: center;background-color:rgba(1, 168, 180, 0.993);padding: 40px;border-radius: 30px;">

        <h5 class="text-center"> يرجى إدخال الايميل الخاص بكم</h5>
        <hr>
        <div class="formGroup" style="margin-top: 4%; ">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <div class="formGroup" style="margin-top: 3%;">
          <input type="submit" class="btn btn-success arabic" value=" إرسال " (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
        <div class="redirectToLogin" style="margin-top: 3%;">
            <span>الرجوع الى صفحة تسجيل الدخول ؟  <a class="redirect" style="color:rgb(255, 207, 51);" routerLink="/sign-in">تسجيل الدخول</a></span>
          </div>
      
      </div>
  
     
    </div>
  </div>
   -->