.ncards {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    transition: 0.25s;
    
}
.ncards:hover {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transition: 0.25s;
    
}
a {
  
    text-decoration: none;
    color: #007bff;
    transition: all 0.2s ease-in-out;
}