<div class="container">
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-8 center">
            <div class="card card-header-image" >
                <img src="{{artical.image}}" width="100%"  alt="">
            </div>
            <div class="card card-header-text " >
                <h4 class="h4-responsive arabic" style="text-align: center; margin-top: 5px;">
                    {{artical.name }}
                </h4>
            </div>
            <div class="card card-body " >
                <p class=" arabic" style="text-align: right;">
                    {{artical.description }}
                </p>
            </div>

        </div>
    </div>
</div>