.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 27%), 0 7px 10px -5px rgb(54 191 244 / 48%);
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .back, .card.card-rotate.bg-danger .front {
    background: linear-gradient(135deg,#3fe7f3,#5B247A);
}
.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}
.card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i, .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i {
    color: #fff;
}
.card .card-header {
    border-bottom: none;
    background: 0 0;
    z-index: 3!important;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card .card-body {
    padding: .9375rem 20px;
    position: relative;
}
.btn.btn-danger, .mat-button.btn.btn-danger, .mat-raised-button.btn.btn-danger, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-danger {
    color: #fff;
    background: linear-gradient(135deg,#3fe7f3,#5B247A);
    box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 0 3px 1px -2px rgba(244,67,54,.2), 0 1px 5px 0 rgba(244,67,54,.12);
}
.card-profile {
    margin-top: 30px;
    text-align: center;
}
.card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    max-width: 130px;
    max-height: 130px;
}
.card-profile .card-avatar+.card-body {
    margin-top: 15px;
}
.card-profile .card-avatar img {
    width: 100%;
    height: auto;
    background-color: #fff;
}
.card .card-category {
    margin-top: 10px;
}
.text-gray {
    color: #999!important;
}
.card .card-title {
    margin-top: 0;
    margin-bottom: 15px;
}
.card-title, .card-title a, .footer-big h4, .footer-big h4 a, .footer-big h5, .footer-big h5 a, .footer-brand, .footer-brand a, .info-title, .info-title a, .media .media-heading, .media .media-heading a, .title, .title a {
    color: #3c4858;
    text-decoration: none;
}
.card-description, .description, .footer-big p {
    color: #999;
}
.btn.btn-round, .btn.btn-round .mat-button-ripple, .btn.btn-round>.mat-button-focus-overlay, .mat-button.btn.btn-round, .mat-button.btn.btn-round .mat-button-ripple, .mat-button.btn.btn-round>.mat-button-focus-overlay, .mat-raised-button.btn.btn-round, .mat-raised-button.btn.btn-round .mat-button-ripple, .mat-raised-button.btn.btn-round>.mat-button-focus-overlay, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-round, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-round .mat-button-ripple, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-round>.mat-button-focus-overlay {
    border-radius: 30px;
}
.btn.btn-danger, .mat-button.btn.btn-danger, .mat-raised-button.btn.btn-danger, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-danger {
    color: #fff;
    background: linear-gradient(135deg,#3fe7f3,#5B247A);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 27%), 0 7px 10px -5px rgb(54 191 244 / 48%);
}
.btn, .btn.btn-default, .mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default, .mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default {
    color: #fff;
    background-color: #999;
    border-color: #999;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14), 0 3px 1px -2px rgba(153,153,153,.2), 0 1px 5px 0 rgba(153,153,153,.12);
}
.btn, .mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]) {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    min-width: auto;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}
.btn-danger {
    color: #fff;
    background: linear-gradient(135deg,#3fe7f3,#5B247A);
    box-shadow: none;
}
.btn.btn-danger:active, .btn.btn-danger:focus, .btn.btn-danger:hover, .mat-button.btn.btn-danger:active, .mat-button.btn.btn-danger:focus, .mat-button.btn.btn-danger:hover, .mat-raised-button.btn.btn-danger:active, .mat-raised-button.btn.btn-danger:focus, .mat-raised-button.btn.btn-danger:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-danger:active, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-danger:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-danger:hover {
    box-shadow: 0 14px 26px -12px rgb(0 0 0 / 27%), 0 7px 10px -5px rgb(54 191 244 / 48%);
    color: #fff;
    background: linear-gradient(135deg,#3fe7f3,#5B247A);
}

mat-form-field {
    width: 100%;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {

    color: #fff;
    background: linear-gradient(135deg,#3fe7f3,#5B247A);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 27%), 0 7px 10px -5px rgb(54 191 244 / 48%);
    border-radius: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-file-upload:active, .custom-file-upload:focus, .custom-file-upload:hover { 
    box-shadow: 0 14px 26px -12px rgb(0 0 0 / 27%), 0 7px 10px -5px rgb(54 191 244 / 48%);
    color: #fff;
    background: linear-gradient(135deg,#3fe7f3,#5B247A);
}
