<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'true'" dir="rtl">
  <mdb-carousel-item dir="rtl">
      <div class="view w-100">
          <img  class="d-block w-100 img-sm" src="assets/223.jpg" width="100%" alt="First slide">
      </div>
      <div class="carousel-caption">
        <div>
            <h2 class="h2-responsive animated rotateInUpLeft">YÖSBOOK</h2>
            <h6 class="h4-responsive arabic">للخدمات الجامعية</h6><br>
            <h4 class="font-size animated rotateInUpRight arabic">  مُرشدك الأفضل لتكون في أرقى الجامعات التركية فأهلاً وسهلاً بكم معنا </h4>
        </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<div class="container-fluid">
  <div class="row" style="margin-top: 8%;" dir="rtl">
    <div class="col-md-3 col-6 arabic center" style="background: linear-gradient(100deg,#ffffff, #5B247A,#ffffff) scroll !important;">
      <h1 class=" h3-responsive" style="text-align: center; color: #ffffff;">
       من نحن !!
      </h1>
    </div>
  </div>
</div>
<div class="container-fluid bodyshadow" style="margin-top: 5%; margin-bottom: 0; background-color: #1BCCDD;">
  <div  class="row arabic " dir="rtl" >
    <div class="col-md-4 center unshow" >
      <img src="assets/body/1.png" width="100%" alt="">
       <br><br>
     </div>
    <div class="col-md-7 center" style="text-align: right;" >
     <br><br>
        <h3 class="h3-dr nopadding h3-responsive wow swing">
        
          مؤسسة خدمية تعليمية أُنشأت عام 2015 وتُعد من أوائل المؤسسات التي تهتم بمجال التعليم في تركيا وتهدف إلى تسهيل طريق الدراسة والقبول في الجامعات التركية لجميع المراحل للطلبة الراغبين بالدراسة خارج بلدانهم بواسطة مجموعة كبيرة من الخدمات التعليمية المميزة يقدمها كادر علمي متخصص في هذ المجال.
          
         
         
        </h3>
      <br><br>
    </div>
  
  </div>

</div>
<div class="container">
  <div class="row" style="margin-top: 10%;">
    <div class="col-md-4 col-6 center" style="background: linear-gradient(100deg,#ffffff, #5B247A,#ffffff) scroll !important;">
      <h4 class="h3-responsive arabic" style="color: #ffffff;text-align: center;padding-top: 5px;">
        خدماتنا
      </h4>
    </div>
  </div>
</div>
<div id="vc_row_1" class="pcheight stylista-section parallax sectionOverlay section  main-banner about-page-parallax  main-banner about-page-parallax " data-speed="25" style="min-height:450px">
  <div class="section-container">
    <div class="parallax-img" style="background-image: url(assets/header/111.jpg); background-position: 50% -13.312px;">
      <div class="container" dir="rtl">
        <div class="row" style="margin-top: 7%;">
          <div class="col-md-4 arabic" style="text-align: center; color: #ffffff;">
            <i class="fas fa-university hh" style="font-size: 80px;"></i>
            <br> <br>
              <h3 class="h5-responsive" style="color: #f19d2e;">
                باقة الخدمات المميزة
              </h3>
              <p>
                نقدم في بيت الطالب مجموعة من باقات الخدمة الطلابية المتميزة والمتكاملة والتي تتناسب مع كافة الامكانيات والاحتياجات:
                الباقة الفضية – الباقة الذهبية – الباقة الماسية
              </p>
          </div>
          <div class="col-md-4 arabic" style="text-align: center; color: #ffffff;">
            <i class="fas fa-user-graduate hh" style="font-size: 80px;"></i>
            <br> <br>
              <h3 class="h5-responsive" style="color: #f19d2e;">
                تأمين القبول الجامعي
              </h3>
              <p>
                تقدم شركة بيت الطالب خدمات التقديم للجامعات التركية الخاصة والحكومية ومساعدة الطلاب علي خوض امتحانات القبول وتوفير السكن الطلابي لهم بالاضافة الى مجموعة متكاملة من الخدمات الطلابية الاخرى والتي تلبي كافة احتياجات أبنائنا الطلبة.
              </p>
          </div>
          <div class="col-md-4 arabic" style="text-align: center; color: #ffffff;">
            <i class="fas fa-cubes hh" style="font-size: 80px;"></i>
              <br> <br>
              <h3 class="h5-responsive" style="color: #f19d2e;">
                  الإستشارات المجانية
              </h3>
              <p>
              نوفر في بيت الطالب مجموعة شاملة من الخدمات والحلول التعليمية والإستشارية واللوجستية للمؤسسات التعليمية الباحثة عن التميز، وللطلبة الراغبين باستكمال تعليمهم خارج بلادهم، وذلك من خلال طاقم خبرائنا، وفعالياتنا المتميزة.
              </p>
          </div>
        </div>
      </div>
    </div>
  <div class="section-content-container">
    <div class="container">
      <div class="wpb_row vc_row-fluid parallax_content  vc_row vc_column-gap vc_column-gap-30">
        <div class="p-0 wpb_column vc_column_container vc_col-sm-12">
          <div class="  vc_column-inner ">
             <div class="wpb_wrapper">
               <p></p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-content-container">
  <div class="container">
    <div class="wpb_row vc_row-fluid parallax_content  vc_row  vc_column-gap vc_column-gap-zero">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="  vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="vc_row wpb_row vc_inner vc_row-fluid story-content">
              <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0">
                <div class=" vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  mb-40 text-center text-title vc_custom_1531110713799" data-delay="" data-animation="none">
                      <div class="wpb_wrapper">
                      </div> 
                    </div> 
                    <div class="wpb_text_column wpb_content_element  mb-0" data-delay="" data-animation="none">
                      <div class="wpb_wrapper">
                        <p style="font-size:25px !important;">
                        </p>
                        <p style="font-size:25px !important;">
                        </p>
                        <br><br>
                      </div> 
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style=" margin-bottom: 10%;" dir="rtl">
  <div class="col-md-3 col-6 center arabic" style="background: linear-gradient(100deg,#ffffff, #5B247A,#ffffff) scroll !important; margin-bottom: 5%;">
    <h1 class="h3-responsive" style="padding-top: 5px;padding-bottom: 5px; text-align: center; color: #ffffff;">
     !!  آخر الأخبار 
    </h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let new of news | slice:0:8;">
      <div class="card arabic">
        <div class="card-header-image">
          <img src="{{new.image}}" width="100%" alt="">
        </div>
        <div class="card-header-text">
            <h4 class="h4-responsive" style="text-align: center;"> {{new.name}}</h4>
        </div>
        <div class="card-body">
            <p style="text-align: right;">
                <span [innerHTML]="new.description"></span>
            </p>
            <p style="text-align: right;">
              <a href="{{new.link}}" target="_blank">رابط الخبر</a>
            </p>
        </div>
      </div>
    </div>
</div>
</div>

<div class="container-fluid">
  <div id="vc_row_1" class="stylista-section parallax sectionOverlay section  main-banner about-page-parallax  main-banner about-page-parallax " data-speed="25" style=" min-height:500px;">
    <div class="section-container">
      <div class="parallax-img" style="background-image: url(assets/header/88.jpg); background-position: 50% -13.312px;"></div>
        <div class="section-content-container">
          <div class="container">
            <div class="wpb_row vc_row-fluid parallax_content  vc_row vc_column-gap vc_column-gap-30">
              <div class="p-0 wpb_column vc_column_container vc_col-sm-12">
                <div class="  vc_column-inner ">
                  <div class="wpb_wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="section-content-container">
    <div class="container">
      <div class="wpb_row vc_row-fluid parallax_content  vc_row  vc_column-gap vc_column-gap-zero">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="  vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="vc_row wpb_row vc_inner vc_row-fluid story-content">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0">
                  <div class=" vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  mb-40 text-center text-title vc_custom_1531110713799" data-delay="" data-animation="none">
                        <div class="wpb_wrapper">
                          <h2 style="text-align: center;"></h2>
                        </div> 
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style=" margin-bottom: 10%;">
  <div class="row" style="margin-top: 8%;">
    <div class="col-md-4 col-10 center arabic" style="background: linear-gradient(100deg,#ffffff, #5B247A,#ffffff) scroll !important; ">
      <h1 class=" h5-responsive" style="padding-top: 10px;text-align: center; color: #ffffff;">
        !! شرح التخصصات الجامعية
      </h1>
    </div>
  </div>
<div class="row" style="background-color: #ffffff;" >
  <div class="main" style="margin-top: 5%">
    <div class="section" style="padding-top: 0px">
        <div class="container-fluid">
            <div class="col-md-12 center">
                <div class="row center">
                    <div class="col-md-4  mb-5">
                        <div class="cards center">
                            <img src="assets/bestUn/1.jpg">
                            <div class="info text-ar center" style="width: 100%">
                              <h3 class="arabic" style="text-align: center;">: إدارة الأعمال </h3>
                                <p class="arabic" style="text-align: center;"> تحتوي هذه المنصة على افضل الخدمات الجامعية التي نقدمها للطلاب العرب والاجانب بكل انجاء تركيا</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main" style="margin-top: 5%">
  <div class="section" style="padding-top: 0px">
      <div class="container-fluid">
          <div class="col-md-12 center">
              <div class="row center">
                  <div class="col-md-4  mb-5">
                      <div class="cards center">
                          <img src="assets/bestUn/2.jpg">
                          <div class="info text-ar center" style="width: 100%">
                            <h3 class="arabic" style="text-align: center;">: الطب </h3>
                              <p class="arabic" style="text-align: center;"> تحتوي هذه المنصة على افضل الخدمات الجامعية التي نقدمها للطلاب العرب والاجانب بكل انجاء تركيا</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="main" style="margin-top: 5%">
  <div class="section" style="padding-top: 0px">
      <div class="container-fluid">
          <div class="col-md-12 center">
              <div class="row phoncenter">
                  <div class="col-md-4  mb-5">
                      <div class="cards center">
                          <img src="assets/bestUn/3.jpg">
                          <div class="info text-ar center" style="width: 100%">
                            <h3 class="arabic" style="text-align: center;">: الهندسة </h3>
                              <p class="arabic" style="text-align: center;"> تحتوي هذه المنصة على افضل الخدمات الجامعية التي نقدمها للطلاب العرب والاجانب بكل انجاء تركيا</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<div class="row" style="background-color: #ffffff;" >
  <div class="main" style="margin-top: 5%">
    <div class="section" style="padding-top: 0px">
        <div class="container-fluid">
            <div class="col-md-12 center">
                <div class="row center">
                    <div class="col-md-4  mb-5">
                        <div class="cards center">
                            <img src="assets/bestUn/1.jpg">
                            <div class="info text-ar center" style="width: 100%">
                              <h3 class="arabic" style="text-align: center;">: إدارة الأعمال </h3>
                                <p class="arabic" style="text-align: center;"> تحتوي هذه المنصة على افضل الخدمات الجامعية التي نقدمها للطلاب العرب والاجانب بكل انجاء تركيا</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main" style="margin-top: 5%">
  <div class="section" style="padding-top: 0px">
      <div class="container-fluid">
          <div class="col-md-12 center">
              <div class="row center">
                  <div class="col-md-4  mb-5">
                      <div class="cards center">
                          <img src="assets/bestUn/2.jpg">
                          <div class="info text-ar center" style="width: 100%">
                            <h3 class="arabic" style="text-align: center;">: الطب </h3>
                              <p class="arabic" style="text-align: center;"> تحتوي هذه المنصة على افضل الخدمات الجامعية التي نقدمها للطلاب العرب والاجانب بكل انجاء تركيا</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="main" style="margin-top: 5%">
  <div class="section" style="padding-top: 0px">
      <div class="container-fluid">
          <div class="col-md-12 center">
              <div class="row phoncenter">
                  <div class="col-md-4  mb-5">
                      <div class="cards center">
                          <img src="assets/bestUn/3.jpg">
                          <div class="info text-ar center" style="width: 100%">
                            <h3 class="arabic" style="text-align: center;">: الهندسة </h3>
                              <p class="arabic" style="text-align: center;"> تحتوي هذه المنصة على افضل الخدمات الجامعية التي نقدمها للطلاب العرب والاجانب بكل انجاء تركيا</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<div class="row hr2">
  <div class="col-md-10 center">
    <hr>
  </div>
</div>

<div class="row" style="margin-top: 8%; margin-bottom: 5%;">
  <div class="col-md-3 col-8 center arabic" style="background: linear-gradient(100deg,#ffffff, #5B247A,#ffffff) scroll !important;">
    <h1 class=" arabic h5-responsive" style="padding-top: 10px;text-align: center;color: #ffffff;">
      <i class="fas fa-scroll "></i>
      أهم المقالات
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6" dir="rtl">
    <div class="card-group">
      <mdb-card class="bg">
        <div class="view rgba-white-slight waves-light" mdbWavesEffect></div>
        <mdb-card-body >
          <mdb-card-title>
            <h4 style="text-align: center; border-bottom: 3px solid #3d3b3b !important;">المنحة التركية :<br><br></h4>
          </mdb-card-title>
          <mdb-card-text class="arabic" style="text-align: right;">
            <br>
            المنح التركية المجانية هي منحة تقدمها الحكومة التركية للطلاب الأجانب من جميع أنحاء العالم، وتعد من أشهر برامج المنح حول العالم، وذلك يرجع إلى كونها تشمل جميع التخصصات تقريبًا وجميع المراحل الدراسية: البكالوريوس، والماجستير، والدكتوراه. كما تقدم الحكومة التركية ما لا يقل عن 4000 منحة سنويًا مما يؤدي إلي ارتفاع نسبة القبول للمتقدمين.

            ومن ناحية أخرى تعتبر الجامعات التركية من أفضل الجامعات في الوقت الحالي، فقد حصلت العديد من الجامعات التركية على ترتيب عالمي، فهناك العديد من الجامعات التركية مُصنفة  ضمن أفضل 500 جامعة في العالم. لذلك فإن الكثير من الطلاب حول العالم يفضلون الدراسة في جامعات تركيا.
          </mdb-card-text>
          <a class="arabic" routerLink="/articles" style="float: right;"> إضغط للإطلاع على المزيد من المقالات </a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="col-md-6" dir="rtl">
    <div class="card-group">
      <mdb-card class="bg">
        <div class="view rgba-white-slight waves-light" mdbWavesEffect></div>
        <mdb-card-body >
          <mdb-card-title>
            <h4 style="text-align: center; border-bottom: 3px solid #3d3b3b !important;"> الهندسة الطبية  :<br><br></h4>
          </mdb-card-title>
          <mdb-card-text class="arabic" style="text-align: right;">
            <br>
            تخصص الهندسة الطبية ويعرف أيضاً بمسمى هندسة المعدات الطبية ويهدف التخصص إلى حل المشكلات الطبية من خلال توفير التقنيات الهندسية المتطورة التي تساعد الأطباء على تشخيص وعلاج أفضل للمرضى وساهمت هندسة المعدات الطبية كثيراً خلال السنوات الماضية في توفير العديد من الأجهزة الطبية المتطورة ويجمع التخصص بين العلوم الهندسية مثل الهندسة الميكانيكية والهندسة الكهربائية والإلكترونية وهندسة الحاسوب، والعلوم الطبية الحيوية والفيزيولوجية.

يفتح تخصص هندسة المعدات الطبية الباب للمبدعين للابتكار وتقديم الاختراعات التي تفيد المجتمع في هذا المجال الحيوي الذي يعتبر من التخصصات الحديثة التي تشهد تطورًا ملحوظًا في العصر الحديث.
          </mdb-card-text>
              <a class="arabic" routerLink="/articles" style="float: right;"> إضغط للإطلاع على المزيد من المقالات </a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div style="margin-top: 4%;">
    <div class="col-md-6 center">
      <div class="card-group ">
        <mdb-card class="bg">
          <div class="view rgba-white-slight waves-light" mdbWavesEffect></div>
          <mdb-card-body >
            <mdb-card-title>
              <h4 style="text-align: center; border-bottom: 3px solid #3d3b3b !important;"> :  الهندسة الصناعية <br><br></h4>
            </mdb-card-title>
            <mdb-card-text class="arabic" style="text-align: right;">
              <br>
          الهندسة الصناعيّة هي عبارة عن فرع من فروع الهندسة، حيث تشتملُ على معرفة طريقة أداء الأشياء والعمليّات المختلفة، وجَعلها تعمل بشكل أفضل؛ فهي تتناول في طيّاتها عمليّات التصميم، والتطوير، والتشغيل، والاختبار لمُختلَف الأنظمة الصناعيّة التي تُفيدُ الإنسان، وتُحسِّن من عمليّة الإنتاج، كما تُحسِّن الهندسة الصناعيّة من أساليب العمل والإنتاج؛ للوصول إلى كلّ ما هو أفضل، إذ يَهدفُ المهندس الصناعيّ في عمله إلى خَفْض تكاليف الإنتاج، وزيادة كفاءة العمليّات، كما يهتمُّ بتحسين جودة المُنتَجات والخدمات التي يتمّ تقديمها. وتهتمُّ الهندسة الصناعيّة بشكل عام ببناء وتطوير الأنظمة الصناعيّة المُتكامِلة
            </mdb-card-text>
            <a class="arabic" routerLink="/articles" style="float: right;"> إضغط للإطلاع على المزيد من المقالات </a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
</div>

